 <div class="admin">
 <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            </div>
        </div>
  </div>   
      <div class="row" style="left: 141px;">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box color-button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">            
            <span class="info-box-icon bg-info elevation-1"><i class="fa-brands fa-elementor"></i></span>
            {{#if countProducts}}
              <div class="info-box-content">
                <span class="info-box-text">View All Products</span>
                <span class="info-box-number">{{countProducts}}</span>
              </div>  
            {{else}}
              {{#if countProductsCate}}
              <div class="info-box-content">
                <span class="info-box-text">View {{categoryId.title}}</span>
                <span class="info-box-number">{{countProductsCate}}</span>
              </div> 
              {{/if}}
            {{/if}}            
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 color-button2" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
          <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-truck-fast"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">View All Orders</span>
              <span class="info-box-number">{{countOrders}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 color-button3" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">View All Users</span>
              <span class="info-box-number">{{countUsers}}</span>
            </div>
          </div>
        </div>
        <div style="left:-12px">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card" style="width: 862px;">                
                <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i> View All Products
                </h3>
                <div class="card-tools" style="height: 35px;">
                  <div class="input-group mb-3" style="left: -260px;">
                    <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
                    <div class="dropdown-menu">
                      {{!-- <a class="dropdown-item" href="/admin/adminCate/{{dog_cate._id}}">Dogs</a>
                      <a class="dropdown-item" href="/admin/adminCate/{{cat_cate._id}}">Cats</a>
                      <a class="dropdown-item" href="/admin/adminCate/{{other_cate._id}}">Others</a> --}}
                      {{#each categories}}
                      <a class="dropdown-item" href="/admin/adminCate/{{this._id}}">{{this.title}}</a>
                      {{/each}}
                    </div>
                  </div>
                    <input type="text" id="inputKey" onkeyup="showSearchResults(this)" class="form-control" placeholder="Search product here..." style="height: 38px;">                            
                 </div>
                 <div class="input-group mb-3" style="top: -41px;left: 106px;" id="pagination">                               
                      {{{createPagination pagination paginationClass="pagination"}}}                     
                 </div>                  
                </div>
              </div>

                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>
                        <tr>
                          <th><h4 style="margin-right: 58px">Image</h4></th>
                          <th><h4 style="margin-right: 14px">Product</h4></th>
                          <th><h4 style="margin-left: -7px;">Price</h4></th>
                          <th></th>
                        </tr>
                      </thead>
                    <tbody id="showSearchResult"></tbody>
                    <tbody id="showAll">
                      {{!-- <tr></tr> --}}                     
                        {{#each findallProducts}}
                        <tr>
                          <td style="width: 178px;"><img style="width: 110px;height: 132px;" src={{img}}></td>
                          <td style="width: 228px;"><p style="margin-top: 48px;margin-left: 61px;">{{name}}</p></td>
                          <td><span class="badge badge-success"style="background-color:#FF6347;margin-top: 52px;margin-left: 114px;">${{price}}</span></td>
                          <td>
                            <div class="tools" style="bottom: -15px;">
                              {{!-- <i class="fas fa-edit facolor"></i> --}}
                              <a href="/admin/edit/{{_id}}" class="btn btn-dark btn-block mb-2">Edit</a>
                              <form action="/admin/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                               <input type="submit" value="Delete" class="btn btn-danger btn-block">
                              </form>
                              {{!-- <a href="/admin/removeItem/{{_id}}"></a> --}}
                            </div>
                          </td>
                        </tr>
                        {{/each}}                        
                    </tbody>
                  </table>
                  </div>
                </div>
                <div class="card-footer clearfix">
                  <a href="/admin/addnewProduct" class="btn btn-primary float-right color-hover"><i class="fas fa-plus"></i> Add item</a>
                </div>
              </div>
            </div>
          </div>              
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card" style="width: 862px;">
                <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i> View All Orders
                </h3>
                <div class="card-tools" style="height: 35px;">
                  <div class="input-group mb-3" style="left: -260px;">
                  </div>                                    
                 {{!-- <div class="input-group mb-3" style="top: -41px;left: 106px;" id="pagination">                               
                      {{{createPagination pagination paginationClass="pagination"}}}                     
                 </div>                   --}}
                </div>
              </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>                        
                        <tr>
                          <th><h4 style="margin-right: 24px">User Email</h4></th>
                          <th><h4 style="margin-right: 65px">Total Quantity</h4></th>
                          <th><h4 style="margin-left: -39px;">Total Price</h4></th>
                          <th><h4 style="margin-left: -22px;">Date Of Order</h4></th>
                          <th></th>
                        </tr>
                      </thead>

                    <tbody>
                      {{#each findAllOrders}}
                        <tr>
                          <td style="width: 178px;">{{user.email}}</td>
                          <td style="width: 228px;"><p style="margin-left: 63px;color: black;">{{cart.totalQuantity}}</p></td>
                          <td style="margin-top: 2px;margin-left: -74px;">${{cart.totalPrice}}</td>
                          <td>{{formatDate dateOfOrder "MM-DD-YYYY hh:mm:ss"}}</td>
                          <td>
                            <div class="tools" >
                              {{!-- <i class="fas fa-edit facolor"></i> --}}
                              <a href="/admin/viewOrderDetail/{{_id}}" class="btn btn-dark btn-block mb-2">View Details</a>
                              <form action="/admin/deleteOrder/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                               <input type="submit" value="Delete" class="btn btn-danger btn-block">
                              </form>
                              {{!-- <a href="/admin/removeItem/{{_id}}"></a> --}}
                            </div>
                          </td>
                        </tr> 
                        {{/each}}                     
                    </tbody>
                  </table>
                  </div>
                </div>
                <div class="card-footer clearfix">
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card" style="width: 862px;">
                <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i> View All Users
                </h3>
              
                <div class="card-tools" style="height: 35px;">
                  <div class="input-group mb-3" style="left: -368px;bottom: -5px;">
                    <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/admin">All Users</a>
                      <a class="dropdown-item" href="/admin/filterRadio?filter=admin">Admin</a>
                      <a class="dropdown-item" href="/admin/filterRadio?filter=visitor">Visitor</a>
                    </div>
                  </div>
                  </div>                                         
                 {{!-- <div class="input-group mb-3" style="top: -41px;left: 106px;" id="pagination">                               
                      {{{createPagination pagination paginationClass="pagination"}}}                     
                 </div>                   --}}
                </div>
              </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>                        
                        <tr>
                          <th><h4 style="margin-right: 24px">User Email</h4></th>
                          <th><h4 style="margin-right: 28px">Role</h4></th>
                          <th><h4 style="margin-left: -105px;">Date Of Register</h4></th>
                          <th></th>
                        </tr>
                      </thead>
                    {{#if findAllUsers}}
                    <tbody>
                      {{#each findAllUsers}}
                        <tr>
                          <td style="width: 178px;">{{email}}</td>
                          <td style="width: 228px;"><p style="margin-left: 63px;color: black;">{{role}}</p></td>
                          <td>{{formatDate createAt "MM-DD-YYYY hh:mm:ss"}}</td>
                          <td>
                            <div class="tools" >
                              {{!-- <i class="fas fa-edit facolor"></i> --}}
                              <form action="/admin/deleteUser/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                               <input type="submit" value="Delete" class="btn btn-danger btn-block">
                              </form>
                              {{!-- <a href="/admin/removeItem/{{_id}}"></a> --}}
                            </div>
                          </td>
                        </tr> 
                        {{/each}}                     
                    </tbody>
                    {{else}}
                      {{#if filterAdmin}}
                      <tbody>
                        {{#each filterAdmin}}
                        <tr>
                          <td style="width: 178px;">{{email}}</td>
                          <td style="width: 228px;"><p style="margin-left: 63px;color: black;">{{role}}</p></td>
                          <td>{{formatDate createAt "MM-DD-YYYY hh:mm:ss"}}</td>
                          <td>
                            <div class="tools" >
                              {{!-- <i class="fas fa-edit facolor"></i> --}}
                              <form action="/admin/deleteUser/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                               <input type="submit" value="Delete" class="btn btn-danger btn-block">
                              </form>
                              {{!-- <a href="/admin/removeItem/{{_id}}"></a> --}}
                            </div>
                          </td>
                        </tr>    
                        {{/each}}
                      </tbody>
                      {{else}}
                        {{#if filterVisitor}}
                          <tbody>
                            {{#each filterVisitor}}
                              <tr>
                              <td style="width: 178px;">{{email}}</td>
                              <td style="width: 228px;"><p style="margin-left: 63px;color: black;">{{role}}</p></td>
                              <td>{{formatDate createAt "MM-DD-YYYY hh:mm:ss"}}</td>
                              <td>
                                <div class="tools" >
                                  {{!-- <i class="fas fa-edit facolor"></i> --}}
                                  <form action="/admin/deleteUser/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                  <input type="submit" value="Delete" class="btn btn-danger btn-block">
                                  </form>
                                  {{!-- <a href="/admin/removeItem/{{_id}}"></a> --}}
                                </div>
                              </td>
                            </tr>    
                            {{/each}}
                          </tbody>
                       {{/if}}
                    {{/if}} 
                  {{/if}}
                  </table>
                  </div>
                </div>
                <div class="card-footer clearfix">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>